
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #2764ff;
  color: white;
  min-height: 100vh;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 30px;
}

.brand {
  font-size: 20px;
  color: #888;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links li a.active {
  color: #2764ff;
}

.signup-btn {
  background-color: transparent;
  border: 1px solid #2764ff;
  color: #2764ff;
  padding: 6px 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  position: relative;
  height: calc(100vh - 60px);
}

.main-content h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Login Box */
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
}

.input-field {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.input-field::placeholder {
  color: white;
}
.login-box label {
  color: white;
  font-weight: bold;
  align-self: flex-start;
}


.login-btn {
  padding: 10px 20px;
  background-color: white;
  color: #2764ff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Watermark Logo */
.logo-watermark {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
  opacity: 0.9;
}
/* Video Background */
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 100px; 
  filter: blur(1px); 
}
